<p id="notice"><%= notice %></p>

<p>
  <strong>店名:</strong>
  <%= @omise.name %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @omise.tel %>
</p>

<p>
  <strong>住所:</strong>
  <%= @omise.address %>
</p>

<p>
  <strong>ホームページ:</strong>
  <%= @omise.homepage %>
</p>
<strong>平均点：</strong>
<%= @average_show %>
<hr>
<% @omise.reviews.each do |review|  %>
<p>投稿者：<%= review.user.email %></p>
<p>評価：<%= review.rating %></p>
<p>口コミ：<%= review.body %></p>
<hr>
<% end -%>
<hr>
<%= link_to 'Edit', edit_omise_path(@omise) %> |
<%= link_to 'Back', omises_path %> |
<%= link_to '口コミ作成', new_omise_review_path(@omise) %>
